/*SOMMAIRE

> Variables
> Général
> Topbar
> Accueil
> Synopsis
> Votre aventure en image
> Les 3 rooms
> RDV
> Avis
> Footer
> Fonts
> Mini responsive
> CSS resets

*/

/* Variables */
body {
  /*c'est du rgb*/
  --main-color: 240, 200, 100;
}

/* Général */
html {
  scroll-behavior: smooth;
}

p {
  font-family: "pourtexte", sans-serif;
}

button {
  background-color: #2a302a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* Topbar */
#topbar {
  display: flex;
  align-items: center;
  height: 50px;
  background: #1a1818;
  position: sticky;
  top: 0;
  z-index: 2;
}

.home {
  color: rgb(var(--main-color));
  text-decoration: none;
  font-size: 20px;
  padding: 0 10px;
  font-size: 130%;
}

.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.menu {
  text-decoration: none;
  margin-left: 7px;
  background-color: #272626;
  padding: 2px 5px;
  border-radius: 5px;
}

.right a {
  color: white;
  text-decoration: none;
  font-size: 145%;
}

.right a:hover:not(.have-sub > a) {
  color: rgb(var(--main-color)) !important;
}

.have-sub {
  position: relative;
}

.have-sub:hover {
  border-radius: 5px 5px 0 0;
}

@keyframes subanim {
  from {
    transform: scale(1, 0);
    transform-origin: top;
  }

  to {
    transform: scale(1, 1);
    transform-origin: top;
  }
}

.have-sub:hover .submenu {
  display: block;
  animation: subanim 400ms;
}

.have-sub>a {
  pointer-events: none;
}

.submenu {
  top: 100%;
  left: 0;
  background-color: #272626;
  display: none;
  position: absolute;
  padding: 1px 5px 8px 5px;
  width: calc(100% - 10px);
  border-radius: 0 0 5px 5px;
}

.submenu div {
  padding-top: 5px;
  height: fit-content;
  width: 100%;
}

.submenu div a {
  display: inline-block;
  font-size: 120%;
  width: inherit;
  text-align: center;
}

/* Accueil */
body {
  background-color: rgba(var(--main-color), 0.5);
  font-family: Verdana, sans-serif;
  font-size: 100%;
}

#home {
  scroll-margin-top: 50px;
  background: url(res/bg.jpg) center/cover no-repeat;
  height: calc(100vh - 50px);
  margin-bottom: 40px;
}

@keyframes title {
  from {
    transform: scale(-0.5, -0.5);
  }

  to {
    transform: scale(1, 1);
  }
}

.title {
  position: relative;
  width: fit-content;
  top: 45%;
  margin: auto;
  font-size: calc((4vw + 4vh) / 2 - 5px);
  font-family: "pourtitre", sans-serif;
  padding: 24px 10px;
  background-color: #eec965b2;
  transition: 200ms font-size;
  animation-duration: 700ms;
  animation-name: title;
}

/*chevron sur l'image*/
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
    opacity: 0%;
  }

  60% {
    margin-top: 20px;
    opacity: 100%;
  }

  100% {
    margin-top: 40px;
    opacity: 0%;
  }
}

.down-arrow {
  text-align: center;
  margin-top: 75vh;
}

.down-arrow::before {
  border-style: solid;
  border-width: 0.35em 0.35em 0 0;
  content: "";
  display: inline-block;
  height: 1.5em;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  width: 1.5em;
  color: white;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow.bottom:before {
  transform: rotate(135deg);
}

/* Synopsis */
.synopsis {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
  scroll-margin-top: 70px;
  
}
.synopsis p {
  padding-top: 5px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}
.synopsis p:first-child {
  font-size: 20px;
  padding-bottom: 10px;
}

/* Votre aventure en image */
.gallery-container {
  padding: 15px 0;
  text-align: center;
  overflow: hidden;
}

.gallery-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.columns {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.col1 {
  width: 550px;
  margin-right: 30px;
}

.column img {
  height: 150px;
  width: 200px;
  margin: 5px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.2s;
  cursor: pointer;
}

.gallery-container .column img:hover {
  transform: scale(1.05);
}

img[alt="1"] {
  margin-top: 0;
}

img[alt="2"] {
  margin-bottom: 0;
}

iframe {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

/* Les 3 rooms */
#second {
  scroll-margin-top: 70px;
}

#second article {
  scroll-margin-top: 70px;
  margin: 25px auto;
  background-color: rgba(var(--main-color), 0.3);
  border: rgba(0, 0, 0, 0.439) 3px solid;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: calc(70% - 6px);
  padding: 15px;
}

#second article h2 {
  margin: 10px 0;
  font-family: "pourtitre", sans-serif;
  font-size: 26px;
}

#second article h4 {
  margin: 10px 0;
  font-family: "pourtitre", sans-serif;
  font-size: 16px;
}

#second p {
  font-size: 20px;
  margin: 30px 0;
  text-align: justify;
  text-justify: inter-word;
}

article#salle1 {
  flex-direction: column;
}

#second article>div:first-child:not(#salle1 div) {
  margin-right: 15px;
}

.art-text {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.art-img img {
  height: 100%;
  width: min(35vw, 300px);
  object-fit: cover;
  object-position: bottom;
  border-radius: 5px;
}

.three-imgs-container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.three-imgs-container img:not(.three-imgs-container img:last-child) {
  margin-right: 40px;
}

.three-imgs-container img {
  height: 220px;
  width: fit-content;
  flex: 1 1;
}

#second article button {
  margin-top: 10px;
  width: 200px;
  align-self: center;
  opacity: 0.7;
}

/* RDV */
#third {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 10px 0px;
  scroll-margin-top: 70px;
}

#third h3 {
  margin-bottom: 20px;
  text-align: center;
}

#third p {
  margin: 0 20px;
}

#third hr {
  margin: 20px 0;
}

/* Avis */
.customerRating {
  background-color: rgba(var(--main-color), 0.2);
  padding: 20px 0;
}

.customerRating h2 {
  text-align: center;
  margin-bottom: 30px;
}

.avis-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

.card {
  max-width: 260px;
  min-width: 200px;
  margin: 5px 1%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(var(--main-color), 0.3);
  flex: 1 1;
  border: solid 2px rgba(var(--main-color), 0.5);
}

.info {
  display: flex;
}

.info img {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  object-fit: cover;
}

.info>div {
  margin: auto 0 auto 10px;
}

.star-container {
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding-bottom: 3px;
}

.star {
  color: white;
  font-size: 20px;
}

.star.checked {
  color: rgb(255, 136, 0) !important;
}

.avis-title {
  font-size: 18px;
}

.avis {
  width: inherit;
  overflow-wrap: break-word;
  margin-block: 0;
  padding-top: 10px;
}

/* Footer */
footer {
  padding-top: 20px;
  margin: 30px auto 0 auto;
  height: 60px;
  text-align: center;
  background-color: #1a1818;
  color: white;
}

footer p {
  padding-top: 10px;
}

/* Fonts */
@font-face {
  font-family: "pourtitre";
  src: url("res/font/stpf.ttf");
}

@font-face {
  font-family: "pourtexte";
  src: url("res/Steampunk.otf");
}

/* Mini responsive */
@media screen and (max-width: 1100px) {

  .card2,
  .col1,
  img[alt="illu1-3"] {
    display: none !important;
  }

  img[alt="illu1-2"] {
    margin-right: 0 !important;
  }

  .synopsis,
  #third {
    width: 85% !important;
  }

  #second article {
    width: calc(85% - 6px) !important;
  }
}

@media screen and (max-width: 700px) {

  .showMore,
  .card3,
  img[alt="illu1-2"] {
    display: none !important;
  }

  img[alt="illu1-1"] {
    margin-right: 0 !important;
  }

  .synopsis,
  #third {
    width: 95% !important;
  }

  #second article {
    width: calc(95% - 6px) !important;
  }
}

@media screen and (max-width: 500px) {

  img[alt="illu1-2"],
  .col4,
  .art-img:not(.three-imgs-container) {
    display: none !important;
  }
}

/* CSS resets */
/* CSS resets */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,figure,figcaption,
header,hgroup,menu,nav,output {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
} 

footer a {
  color:white
}
